@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #010D26;
    color: white;
}

li a:hover {
  color: darkgoldenrod;
}


nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #311459;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;

}

nav ul li {
    text-align: center;
    align-items: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100px;
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    color: white;
}

header p {
    margin-bottom: 2em;
}

header a {
    color: white;
}

#Sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
}


#Sobre p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#Sobre .botao {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

#Serviços {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#Serviços div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.img {
    width: 50px;
}

#Edições {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#Edições div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    background-color: white;
    color: black;
    padding: 40px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 5px black;
}

.mas {
    display: flex;
    width: 40px;
}

#Contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #191970;
    color: white;
}

footer a {
    text-decoration: none;
    color: #00FFFF;
}

@media screen and (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul {
        flex-direction: row;
        width: 70%;
    }
}

#Contato {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;
}

#Contato h2, #Contato p {
    width: 100%;
}

